<a href="https://colab.research.google.com/github/nicoeiris11/titanic-classification-ml/blob/master/Titanic_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
from google.colab import files
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics
from matplotlib import pyplot

In [111]:
train_dataset_url = "https://raw.githubusercontent.com/nicoeiris11/titanic-classification-ml/master/data/train.csv"
test_dataset_url = "https://raw.githubusercontent.com/nicoeiris11/titanic-classification-ml/master/data/test.csv"

test_df = pd.read_csv(test_dataset_url)

train_df = pd.read_csv(train_dataset_url)
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [112]:
train_df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [113]:
# Data pre processing

del train_df['Name']
del train_df['Ticket']
del train_df['Cabin']
train_df = pd.get_dummies(train_df)
train_df.fillna(train_df.mean(), inplace=True)

del test_df['Name']
del test_df['Ticket']
del test_df['Cabin']
test_df = pd.get_dummies(test_df)
test_df.fillna(test_df.mean(), inplace=True)

print(train_df.shape[1])
print(test_df.shape[1])
train_df.head()

12
11

   PassengerId  Survived  Pclass  ...  Embarked_C  Embarked_Q  Embarked_S
0            1         0       3  ...           0           0           1
1            2         1       1  ...           1           0           0
2            3         1       3  ...           0           0           1
3            4         1       1  ...           0           0           1
4            5         0       3  ...           0           0           1

[5 rows x 12 columns]

In [114]:
test_df.head()

   PassengerId  Pclass   Age  ...  Embarked_C  Embarked_Q  Embarked_S
0          892       3  34.5  ...           0           1           0
1          893       3  47.0  ...           0           0           1
2          894       2  62.0  ...           0           1           0
3          895       3  27.0  ...           0           0           1
4          896       3  22.0  ...           0           0           1

[5 rows x 11 columns]

In [115]:
# Separate target column and predictors

labels = np.array(train_df['Survived'])
features = train_df.drop('Survived', axis=1)
feature_list = list(features.columns)
features = np.array(features)

In [143]:
# Split 80/20 train/dev

X_train, X_dev, Y_train, Y_dev = train_test_split(features, labels, test_size=0.2, random_state=11)

print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', Y_train.shape)
print('Dev Features Shape:', X_dev.shape)
print('Dev Labels Shape:', Y_dev.shape)

Training Features Shape: (712, 11)
Training Labels Shape: (712,)
Dev Features Shape: (179, 11)
Dev Labels Shape: (179,)

In [145]:
# Fit model

rf = RandomForestRegressor()

param_space = {
        "bootstrap": [True],
        "max_depth": [4, 6, 8, 10, 12, 14],
        "max_features": ['auto', 'sqrt','log2'],
        "min_samples_leaf": [2, 3, 4],
        "min_samples_split": [2, 3, 4, 5],
        "n_estimators": [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
}

forest_rand_search = RandomizedSearchCV(rf, param_space, n_iter=500, verbose=True,
                                        cv=5, n_jobs=-1, random_state=11)

forest_rand_search.fit(X_train, Y_train)

Fitting 5 folds for each of 500 candidates, totalling 2500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   41.6s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 1246 tasks      | elapsed: 14.4min
[Parallel(n_jobs=-1)]: Done 1796 tasks      | elapsed: 21.2min
[Parallel(n_jobs=-1)]: Done 2446 tasks      | elapsed: 29.0min
[Parallel(n_jobs=-1)]: Done 2500 out of 2500 | elapsed: 29.5min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   iid='deprecated', n_iter=500, n_jobs=-1,
                   param_distributions={'bootstrap': [True],
                                        'max_depth': [4, 6, 8, 10, 12, 14],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_leaf': [2, 3, 4],
                                        'min_samples_split': [2, 3, 4, 5],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000]},
                   pre_dispatch='2*n_jobs', random_state=11, refit=True,
                   return_train_score=False, scoring=None, verbose=True)

In [146]:
# Best Params
print(forest_rand_search.best_params_)

{'n_estimators': 400, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'max_depth': 14, 'bootstrap': True}

In [147]:
# Best Estimator
print(forest_rand_search.best_estimator_)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=14, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=400, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [148]:
test_df.head()

   PassengerId  Pclass   Age  ...  Embarked_C  Embarked_Q  Embarked_S
0          892       3  34.5  ...           0           1           0
1          893       3  47.0  ...           0           0           1
2          894       2  62.0  ...           0           1           0
3          895       3  27.0  ...           0           0           1
4          896       3  22.0  ...           0           0           1

[5 rows x 11 columns]

In [149]:
# Predict on dev

dev_pred = forest_rand_search.predict(X_dev)
parse_pred = lambda perc : (1 if perc >= 0.5 else 0)
dev_pred = list(map(parse_pred, dev_pred))

print("Accuracy: ", metrics.accuracy_score(Y_test, dev_pred))

Accuracy:  0.8491620111731844

In [150]:
# Predict on test

test_features = np.array(test_df)
test_pred = forest_rand_search.predict(test_features)
test_pred = list(map(parse_pred, test_pred))

In [151]:
# Create submission

submission = pd.DataFrame()
submission['PassengerId'] = test_df['PassengerId']
submission['Survived'] = test_pred
submission.to_csv('submission.csv', index=False)
files.download('submission.csv')